play/g-sheet-api-flows.json
[
    {
        "id": "f7e38b71.5811d8",
        "type": "tab",
        "label": "form input to google spread sheet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6f4bb9f.05a518",
        "type": "google-spreadsheet",
        "z": "f7e38b71.5811d8",
        "name": "sheet",
        "auth": "e00f909a.a408c",
        "sheet": "17yl5bdgyyj8X3axp06wPDwIMbixQ4OryiSpEg5Av8mE",
        "range": "bar!A:D",
        "method": "append",
        "direction": "line",
        "action": "set",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            "bar"
        ],
        "cell_l": "",
        "cell_c": "",
        "input": "payload",
        "output": "payload",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "str",
        "rangeType": "str",
        "cell_lType": "str",
        "cell_cType": "str",
        "x": 610,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f70f2f42.2444d",
        "type": "debug",
        "z": "f7e38b71.5811d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "ab8b37f9.38c1d8",
        "type": "change",
        "z": "f7e38b71.5811d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"Email\":$.msg.payload.email}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "f70f2f42.2444d",
                "d90b4350.ab67d"
            ]
        ]
    },
    {
        "id": "4dc8e823.4bf4f8",
        "type": "comment",
        "z": "f7e38b71.5811d8",
        "name": "How to configure Google sheets ",
        "info": "# Install extra nodes\n\nFrom the manage palette, install node-red-contrib-viseo-google-authentication and\nnode-red-contrib-viseo-google-spreadsheet.\n\n# Set up a Google service account and enable Google sheets API\nGo to [https://console.developers.google.com/project](https://console.developers.google.com/project) and sign in to your Google/Gmail account.\n\nOnce signed in, you'll see a list of existing projects (if there are any) or you can click Create Project to create a new one.\n\nOn the New Project page, enter a name for your project, select an organization and then click Create.\n\n# Enable the Drive API\n\nMake sure you are logged into the Developers Console and your project is selected as the current project.\n\nFrom the navigation menu, hover over APIs and Services and select Library.\n\nSearch for and click the Google Drive API tile.\n\nClick enable.\n\n# Enable the Sheets API\n\nMake sure your project is still selected as the current project.\n\nFrom the navigation menu, hover over APIs and Services and select Library.\nSearch for and click the Google Sheets API tile.\n\nClick Enable.\n\n# Download Service Account Credentials\n\nTo create credentials, from the navigation menu, hover over APIs and Services and select click Credentials. On the Credentials page, click Create credentials and select the Service account key option.\n\nSet the Service account dropdown to New service account. Then enter the Name and select a Role for your service account.\n\nCopy the Service account ID which is an email address starting with your service account name.\n\nClick Create to generate a certificate file and download it as json.\n\nClick on the pen to the right of the Credentials in the node, copy and paste the information in the json file in the field for JSON.\n\n# Create a new Google spread sheet from Google Drive. \n\nTake the ID part from the https link to the spread sheet.\n\nThe link looks similar to this: https://docs.google.com/spreadsheets/d/1C_F7--lWjn1Q3dzkNIcU66NoalhSXL3HPvsIxEUFXo0/edit#gid=0\n\nHere the ID is 1C_F7--lWjn1Q3dzkNIcU66NoalhSXL3HPvsIxEUFXo0 which should be copied to the ID field in the node configuration.\n\nWhen you have the Google sheet open click on the share button in the upper right corner. In the people field put in the email address that you copied from Service account ID and click ready.\n\nNow you should be able to read and write to the Google sheet.\n\nThere is an ERROR message \"Missing VISEO Bot Maker key - Read the documentation.\". \nThis will not stop the flow from working.",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "35db33a7.fb635c",
        "type": "comment",
        "z": "f7e38b71.5811d8",
        "name": "(double click to read the instruction or look at the info panel to the right)",
        "info": "",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "d75aaf0e.2ec6e",
        "type": "comment",
        "z": "f7e38b71.5811d8",
        "name": "put the message from the form into a json array",
        "info": "",
        "x": 220,
        "y": 200,
        "wires": []
    },
    {
        "id": "f87a683d.b590e8",
        "type": "debug",
        "z": "f7e38b71.5811d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "399e0e50.282692",
        "type": "inject",
        "z": "f7e38b71.5811d8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "48cd8313.0a3dac"
            ]
        ]
    },
    {
        "id": "48cd8313.0a3dac",
        "type": "google-spreadsheet",
        "z": "f7e38b71.5811d8",
        "name": "sheet",
        "auth": "e00f909a.a408c",
        "sheet": "17yl5bdgyyj8X3axp06wPDwIMbixQ4OryiSpEg5Av8mE",
        "range": "bar!A:D",
        "method": "append",
        "direction": "line",
        "action": "get",
        "clear": false,
        "line": false,
        "column": true,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "cell_l": "",
        "cell_c": "",
        "input": "payload",
        "output": "payload",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "str",
        "rangeType": "str",
        "cell_lType": "str",
        "cell_cType": "str",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "f87a683d.b590e8",
                "154bfd52.674ae3",
                "7b6f40b.576d6c"
            ],
            []
        ]
    },
    {
        "id": "4f243661.7f4e18",
        "type": "comment",
        "z": "f7e38b71.5811d8",
        "name": "Read a Google sheet and display the text in the debug window",
        "info": "",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "a0f615f7.5e71f8",
        "type": "ui_form",
        "z": "f7e38b71.5811d8",
        "name": "",
        "label": "Email form",
        "group": "19dc9349.57f72d",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "ab8b37f9.38c1d8"
            ]
        ]
    },
    {
        "id": "154bfd52.674ae3",
        "type": "function",
        "z": "f7e38b71.5811d8",
        "name": "",
        "func": "msg._p = msg.payload[0].name\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 520,
        "wires": [
            [
                "e6cd2c7.cebcbd"
            ]
        ]
    },
    {
        "id": "e6cd2c7.cebcbd",
        "type": "debug",
        "z": "f7e38b71.5811d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_p",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "7b6f40b.576d6c",
        "type": "debug",
        "z": "f7e38b71.5811d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_sheet",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "d90b4350.ab67d",
        "type": "function",
        "z": "f7e38b71.5811d8",
        "name": "test",
        "func": "msg.payload = [\n    msg.payload[0], // prev payload\n    {\"1stField\":'test@email.com', \"2ndField\":456},  // 2nd entry\n];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "f6f4bb9f.05a518"
            ]
        ]
    },
    {
        "id": "4b7665e9.2659ec",
        "type": "http in",
        "z": "f7e38b71.5811d8",
        "name": "",
        "url": "/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "d9a97276.56d47",
                "e6eb143e.559518",
                "16cf612a.42422f"
            ]
        ]
    },
    {
        "id": "d9a97276.56d47",
        "type": "debug",
        "z": "f7e38b71.5811d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 620,
        "wires": []
    },
    {
        "id": "e6eb143e.559518",
        "type": "http response",
        "z": "f7e38b71.5811d8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "payload": "foo"
        },
        "x": 340,
        "y": 680,
        "wires": []
    },
    {
        "id": "16cf612a.42422f",
        "type": "function",
        "z": "f7e38b71.5811d8",
        "name": "",
        "func": "msg._headers = msg.req.headers\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "66206d8f.e29bf4"
            ]
        ]
    },
    {
        "id": "66206d8f.e29bf4",
        "type": "debug",
        "z": "f7e38b71.5811d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_headers",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 740,
        "wires": []
    },
    {
        "id": "e00f909a.a408c",
        "type": "google-service-account",
        "name": "derek-all-access",
        "scope": [
            "https://www.googleapis.com/auth/spreadsheets"
        ],
        "way": "json",
        "check_dialogflow": "",
        "check_speech": ""
    },
    {
        "id": "19dc9349.57f72d",
        "type": "ui_group",
        "name": "Google sheets",
        "tab": "5423d9a1.87d8b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5423d9a1.87d8b8",
        "type": "ui_tab",
        "name": "Submit form to google sheets",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]